:root {
  --primary: #dfdbd6;
  --bg: rgb(47, 1, 1);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.6);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(200, 13, 97);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #9d1414;
}

#menu {
  display: none;
}

/* hero section */

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(47, 1, 1) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px rgba(1, 1, 3, 1);
  line-height: 1.2;
}

.hero .content p {
  font-size: 3rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: white;
  background-color: rgb(118, 0, 0);
  border-radius: 1rem;
  box-shadow: rgba(27, 0, 0, 1);
}

/* about */

.about,
.design,
.contact {
  padding: 8rem 4% 1.4rem;
}

.about h2,
.design h2,
.contact h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.about .row {
  display: inline-flex;
}

.about .row .about-img {
  flex: 1 1rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 25rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 2.5rem;
  text-align: center;
}

.about .row .content h2 {
  text-align: center;
}

.about .row .content p {
  font-size: 1.3rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 1.6rem;
  margin-left: 1rem;
}

/* design section */

.design h2 {
  margin-bottom: 0.5rem;
}
.design p,
.contact p {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  font-weight: 300;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.design .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.design .row img {
  max-width: 40rem;
  margin: 2rem;
  border-radius: 10%;
}

/* contact */

.contact .email {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1rem;
}

.contact .row {
  display: flex;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  flex-wrap: wrap;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 25rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: rgb(0, 0, 0);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2rem);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 30rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 3rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
